name: test suite
on: [push, pull_request]
permissions:
  contents: read

jobs:
  build:
    name: cargo build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
      - run: sudo apt-get update
      - run: sudo apt-get install -y pkg-config libudev-dev
      - run: cargo build --workspace
      - run: cargo build --package attest-data --package dice-mfg-msgs
  test:
    name: cargo test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
      - run: sudo apt-get update
      - run: sudo apt-get install -y pkg-config libudev-dev
      - run: cargo test --package attest-data
      - run: cargo test --package dice-mfg-msgs
      - run: cargo test --all-features --locked
  doc:
    name: cargo doc
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: -D warnings
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
      - run: sudo apt-get update
      - run: sudo apt-get install -y pkg-config libudev-dev
      - run: cargo doc --all-features --locked
